@* seatCheckboxForm Template File *@
@(sector:Sector, orderedSeats:List[Seat])

		<table class="table table-condensed table-responsive table-hover">
		@for(row<-1 to sector.numOfRows) {
			<tr class="small-row">
				<td class="success">@(row)</td>
				@for(seat<-1 to sector.seatsInRow) {
					<td 
					class= "@if(orderedSeats
						exists(s=>s.rowNumber==row&&s.num==seat)){danger}else{info}">
		   					
   					<input type="checkbox" id="@("seats.rows"+"["+row+"].checkedSeats["+seat+"]")"
   					 name="@("seats.rows"+"["+row+"].checkedSeats["+seat+"]")" 
   					 value="true" class="checkbox-inline"
   					 @if(orderedSeats exists(s=>s.rowNumber==row&&s.num==seat)){disabled}> 
   					 
   					 <span class="help-inline"> @seat </span>
					 
					 <input type="hidden" id="@("seats.rows"+"["+row+"].checkedSeats["+seat+"]")" 
					 name="@("seats.rows"+"["+row+"].checkedSeats["+seat+"]")" 
					  value="false"> 
					  
					</td>
				}
			</tr>	
			}
		</table>
