@* sectorMap Template File *@
@(sector:Sector, orderedSeats:List[Seat])(implicit user:Option[User])
	
	
	<h3>Сектор: @sector.name</h3>
	<h5>Цена билета: @sector.sitPrice</h5>
	<table class="table table-condensed">
		@for(row<-1 to sector.numOfRows) {
			<tr>
				<td class="success">@(row)</td>
				@for(seat<-1 to sector.seatsInRow) {
					
					
					<td 
					class= "@if(orderedSeats
						exists(s=>s.rowNumber==row&&s.num==seat&&s.sold)){danger}else{
						@if(orderedSeats
						exists(s=>s.rowNumber==row&&s.num==seat&&s.booked)){warning}else{info}
						}">
						
							@if(orderedSeats exists(s=>s.rowNumber==row&&s.num==seat)){
								<a href="@routes.Seats.seatRelatedOrder(sector.eventID, sector.id, row, seat)">
							}
							@seat
							@if(orderedSeats exists(s=>s.rowNumber==row&&s.num==seat)){
								</a>
							}	
						</td>					
					}
			</tr>	
		}
		</table>
		

