@* booking Template File *@

@(sector:Sector, eventID:Long, orderedSeats:List[Seat])(bookingForm:Form[(java.sql.Timestamp,String,List[List[Int]])])(implicit flash:Flash, user:Option[User])

@main("Сектор "+sector.name){
	<div class="container">
		@helper.form(action= routes.Bookings.saveBooking(sector.id, eventID), 'role->"form", 'class->"form-horizontal"){
			
				@helper.input(bookingForm("clientName"), '_label -> "Бронь на имя: ", '_class ->"form-group") { (id, name, value, args) =>
	    <input type="text" value="@value"  name="@name" id="@id" @toHtmlArgs(args) class="form-control" placeholder="Введите ФИО клиента">
	}
				<h4>Бронирование действительно до: </h4>
				@helper.input(bookingForm("expDate.date"), '_label -> Messages("date"), '_class ->"form-group"){ (id, name, value, args) =>
	    <input type="date" value="@value"  name="@name" id="@id" @toHtmlArgs(args) class="form-control">
	}
				@helper.input(bookingForm("expDate.time"), '_label -> Messages("time"), '_class ->"form-group"){ (id, name, value, args) =>
	    <input type="time" value="@value"  name="@name" id="@id" @toHtmlArgs(args) class="form-control">
	}
</div>
<h2>Выберете места: </h2>
<table class="table table-condensed table-responsive table-hover">
		@for(row<-1 to sector.numOfRows) {
			<tr class="small-row">
				<td class="success">@(row)</td>
				@for(seat<-1 to sector.seatsInRow) {
					<td 
					class= "@if(orderedSeats
						exists(s=>s.rowNumber==row&&s.num==seat&&s.sold)){danger}else{
						@if(orderedSeats
						exists(s=>s.rowNumber==row&&s.num==seat&&s.booked)){warning}else{info}}">
					@helper.input(bookingForm("seats.rows"+"["+row+"].checkedSeats["+seat+"]"), '_class ->"checkbox-inline",'_label->seat){ (id, name, value, args) =>
   						<input type="checkbox" id="@id" name="@name"  @toHtmlArgs(args) value="true" class="checkbox-inline"
   						@if(orderedSeats
						exists(s=>s.rowNumber==row&&s.num==seat)){disabled}>
						<input type="hidden" id="@id" name="@name"  @toHtmlArgs(args) value="false">
   					}
					</td>
				}
			</tr>	
			}
		</table>
		<button type="submit" class="bth btn-primary btn-lg">@Messages("save")</button>
	}
}
