@* details Template File *@
@(booking:Booking, event:Event)(implicit flash:Flash, user:Option[User])

@main("Бронь № "+booking.id){
	<div class="container">
		<div class="jumbotron">
			<h1>@("Детали бронирования № " + booking.id)</h1>
			<h2>@("Событие: "+event.tp+" "+event.name)</h2>
			<h3>@("Дата события:" + Dates.dateTimeFormat.format(event.date))</h3>
			<p>На имя: @booking.clientName</p>
			<p>Бронь произведена: @Dates.dateTimeFormat.format(booking.date)</p>
			<p>Действительна до: @Dates.dateTimeFormat.format(booking.expDate)</p>
			<h3>@("Сектор: " + Seat.sector(Booking.seats(booking).head).name)</h3>
			<h3>@("Цена билета: " + booking.price+" грн.")</h3>
			<dl class="dl-horizontal">
				<dt>Бронируемые места:</dt>
				@for(seat<-Booking.seats(booking)){
					<dd>
					@("Ряд: "+seat.rowNumber+", место: "+ seat.num)
					<a href = "@routes.Bookings.excludeOne(seat.id, booking.id)">Исключить</a>
					</dd>
				}
			</dl>
			<p>Бронирование зарегистрировал: 
			@if(Permission.editUsers(user.get)){<a href = "@routes.Users.show(Booking.user(booking).id)">} 
			@Booking.user(booking).fullName</p>@if(Permission.editUsers(user.get)){</a>}
			@if(booking.confirmed){
				<p>
					<a class="btn btn-primary btn-lg active" role="button" href="@routes.Events.show(event.id)">
						Вернуться к событию
					</a>
					<a class="btn btn-success btn-lg active" role="button" href="@routes.Bookings.redeemBooking(booking.id)">
						Выкупить бронь
					</a>	
					<a class="btn btn-danger btn-lg active" role="button" href="@routes.Bookings.revertBooking(booking.id)">
						Отменить бронь
					</a>				
				</p>
			}else{
				<p>
					<a class="btn btn-success btn-lg active" role="button" href="@routes.Bookings.confirmBooking(booking.id)">
					Подтвердить
					</a>
					<a class="btn btn-danger btn-lg active" role="button" href="@routes.Bookings.revertBooking(booking.id)">
					Отмена
					</a>					
				</p>
			}	
				
		</div>
	</div>
}
