@* addNew Template File *@
@(userForm: Form[User])(implicit flash:Flash)

@main("Новый пользователь"){
	<div class="container">
		@helper.form(action= routes.Users.saveUser, 'role->"form", 'class->"form-horizontal"){
		<input type="invisible" value="0" name="id" id="id" class="form-control" readonly>
		
		@helper.input(userForm("name"), '_label -> Messages("name"), '_class ->"form-group") { (id, name, value, args) =>
	    <input type="text" value="@value"  name="@name" id="@id" @toHtmlArgs(args) class="form-control" placeholder="Введите имя пользователя">
		}
		@helper.input(userForm("password"), '_label ->"Пароль", '_class ->"form-group") { (id, name, value, args) =>
	    <input type="text" value="@value"  name="@name" id="@id" @toHtmlArgs(args) class="form-control" placeholder="Введите пароль">
		}				
		
		<div class="checkbox">
			<lavel>
				<input type = "checkbox" value = "true" id="edEv" name="edEv">Может редактировать события
			</lavel>
		</div>
		<div class="checkbox">
			<lavel>
				<input type = "checkbox" value = "true" id="edS" name="edS">Может редактировать продажи
			</lavel>
		</div>
		<div class="checkbox">
			<lavel>
				<input type = "checkbox" value = "true" id="edU" name="edU">Может редактировать пользователей
			</lavel>
		</div>
			<button type="submit" class="bth btn-primary btn-lg">Сохранить</button>
	}
	</div>	
}