@* details Template File *@
@(event:Event)

@main(event.name){
	<div class="container">
		<ul class="nav nav-tabs">
			<li><a class="btn btn-primary" href="@routes.Events.edit(event.id)">Редактировать</a></li>
			<li><a class="btn btn-danger" href="@routes.Events.remove(event.id)">Удалить</a></li>	
		</ul>
	</div>
	<div class="jumbotron">
		<h1>@(event.tp+" "+event.name)</h1>
		<h2>@(event.date)</h2>
		<p>@event.dscr</p>
		<p><a class="btn btn-info btn-lg" role="button">Заказать билеты</a>
	</div>
}
