@* login Template File *@
@(loginForm: Form[Option[models.User]])(implicit flash:Flash)
@main("Вход в систему"){
	
	<div class="container">
		@loginForm.errors.map{error=>
			<div class="alert alert-danger">@error.message</div>
		}
	</div>
  <div class="container">
  @helper.form(action= routes.Application.authenticate, 'role->"form", 'class->"form-signin"){
        <h3 class="form-signin-heading">Введите логин и пароль для доступа</h3>
        <input type="text" id="login" name="login" class="form-control" placeholder="Login" required autofocus>
        <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
    }
   </div>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/signin.css")">
    
}
