@(title: String)(content: Html)(implicit flash:Flash, user:Option[User])

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
     <div class="container">
	      <nav class ="navbar navbar-inverse" role="navigation">
	      	<div class="container">
		      	<div class="navbar-header">
		      		<a class="navbar-brand" href=@routes.Application.index()>
		        		@Messages("app.dev")
		        	</a>
		        </div>	      	
	      	@if(user.isDefined){
		        <div class="collapse navbar-collapse">
		        	<ul class="nav navbar-nav">
		        		<li class="dropdown">
		        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("events")<b class="caret"></b></a>
		        			<ul class="dropdown-menu">
		        				<li><a href="@routes.Events.list">@Messages("events.active")</a></li>
		        				<li><a href="@routes.Events.archiveList">@Messages("events.archive")</a></li>
		        				@if(models.Permission.editEvent(user.get)){
		        					<li><a href="@routes.Events.addNew">@Messages("add")</a></li>}
		        			</ul>
		        		</li>
		        		<li class="dropdown">
			        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">@Messages("tickets")<b class="caret"></b></a>
			        			<ul class="dropdown-menu">
			        				<li><a href="@routes.Seats.checkSeat">@Messages("seat.check")</a></li>
			        				<li><a href="@routes.Bookings.find">Поиск брони</a></li>
			        			</ul>
			        		</li>
		        		<li class="dropdown">
			        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Пользователи<b class="caret"></b></a>
			        			<ul class="dropdown-menu">
			        				@if(models.Permission.editUsers(user.get)){
			        				<li><a href="@routes.Users.list">Список</a></li>
			        				<li><a href="@routes.Users.newUser">Добавить</a></li>
			        				<li class="divider"></li>}
			        				<li><a href="@routes.Users.changePassword">Изменить пароль</a></li>
			        			</ul>
			        		</li>	     			        				        		
		        	</ul>
		        	}
					<p class = "navbar-text navbar-right">
						@if(user.isDefined){
							Вы вошли как @user.get.name 
							<a href = "@routes.Application.logout" class = "navbar-link">(Выход)</a>
						}
					</p>  		
		      	</div>
	      	</div>
	      </nav>
      </div>
      <div class="container">
	      @if(flash.get("success").isDefined) {
	      		<div class="alert alert-success alert-dismissable">
				  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				  @flash.get("success")
				</div> 
	      	}
	       @if(flash.get("error").isDefined) {
	      		<div class="alert alert-danger alert-dismissable">
				  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				  @flash.get("error")
				</div> 
	      	}
	      	@if(flash.get("info").isDefined) {
	      		<div class="alert alert-info alert-dismissable">
				  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				  @flash.get("info")
				</div> 
	      	}
      	</div>	 
      <div class="container-fluid">
    	  @content
      </div>
       <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    </body>
</html>
