@* details Template File *@
@(sale:Sale, event:Event)(implicit flash:Flash, user:Option[User])

@main("Продажа № "+sale.id){
	<div class="container">
		<div class="jumbotron">
			<h1>@("Детали продажи № " + sale.id)</h1>
			<h2>@("Событие: "+event.tp+" "+event.name)</h2>
			<h3>@("Дата события:" + Dates.dateTimeFormat.format(event.date))</h3>
			<p>Продажа совершена: @Dates.dateTimeFormat.format(sale.date)</p>
			<h3>@("Сектор: " + Seat.sector(Sale.seats(sale).head).name)</h3>
			<h3>@("Цена билета: " + sale.price+" грн.")</h3>
			<dl class="dl-horizontal">
				<dt>Проданные места:</dt>
				@for(seat<-Sale.seats(sale)){
					<dd>@("Ряд: "+seat.rowNumber+", место: "+ seat.num)</dd>
				}
			</dl>
			<h3>@("Итого к оплате: " + sale.price*Sale.seats(sale).length+" грн.")</h3>
			<p>Продажу совершил: 
			@if(Permission.editUsers(user.get)){<a href = "@routes.Users.show(Sale.user(sale).id)">} 
			@Sale.user(sale).fullName</p>@if(Permission.editUsers(user.get)){</a>}
			@if(sale.confirmed){
				<p><a class="btn btn-primary btn-lg active" role="button" href="@routes.Events.show(event.id)">Вернуться к событию</a></p>
			}else{
				<p>
					<a class="btn btn-success btn-lg active" role="button" href="@routes.Sales.confirmSale(sale.id)">
					Подтвердить
					</a>
					<a class="btn btn-danger btn-lg active" role="button" href="@routes.Sales.revertSale(sale.id)">
					Отмена
					</a>					
				</p>
			}	
				
		</div>
	</div>
}